<!DOCTYPE html>
<html lang="zh">

<head>
    <title>动漫小站</title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link rel="stylesheet" type="text/css" href="/public/header.css">
    <link rel="stylesheet" type="text/css" href="/public/animeindex.css">
    <script src="/public/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header mdui-headroom class="mdui-shadow-3 mdui-img-rounded">
        <div class="left">
            <a id="home-btn" href="/">欢迎！<%= nickname %></a>
        </div>
        <div></div>
        <div class="search-container">

            <input id="search-input" name="search" class="search-input mdui-ripple" type="text" placeholder="搜索动漫...">
            <button id="search-btn" class="header-btn" type="submit">
                <i class="mdui-icon material-icons">&#xe8b6;</i>
            </button>
            <div class="re-checkbox">
                <input type="checkbox" id="re" name="re">
                <label for="re">
                    <span class="checkmark">&#10004;</span>
                    <span class="checktext">正则</span>
                </label>
            </div>

        </div>
        <div id='logout-btn' class="right header-btn">
            <a href="/logout">
                <i class="mdui-icon material-icons">&#xe879;</i>
            </a>
        </div>
    </header>
    <section class="main-content mdui-container" style="padding-top: 45px;">
        <div id="search-box" class="sk-bangumi mdui-shadow-3" style="display: none;">
            <div class="data-row row">
                <p class="row-title">
                    <span id="search-text"></span> 搜索结果 
                    <button id="hide-search" class="btn" type="button">隐藏</button>
                </p>
            </div>
            <div class="on-box">
                <ul id="s-play" class="l-play">
                </ul>
            </div>
        </div>
        <div id="recently" class="sk-bangumi mdui-shadow-3">
            <div class="data-row" class="row">
                <p class="row-title">最近播放</p>
            </div>
            <div class="on-box">
                <ul id="r-play" class="l-play">
                </ul>
            </div>
            <button id="loadMoreBtn-r" class="btn" type="button">显示更多</button>
        </div>
        <div id="all" class="sk-bangumi mdui-shadow-3">
            <div class="data-row" class="row">
                <p class="row-title">全部动漫(没有想看的动漫可以在聊天室反馈)</p>
            </div>
            <div class="on-box">
                <ul id="a-play" class="l-play">
                </ul>
            </div>
            <button id="loadMoreBtn-a" class="btn" type="button">显示更多</button>
        </div>
    </section>
    <script src="/public/animeindex.js"></script>
    <script src="/public/mdui.min.js"></script>
</body>

</html>