<!DOCTYPE html>
<html lang="zh">

<head>
    <title>W</title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link rel="stylesheet" type="text/css" href="/public/w.css">
    <script src="/public/jquery-3.6.0.min.js"></script>
</head>

<body class="mdui-theme-primary-pink">
    <div id="prog" class="mdui-progress mdui-invisible">
        <div class="mdui-progress-indeterminate"></div>
    </div>
    <header class="mdui-appbar mdui-appbar-fixed">
        <div id="tab" class="mdui-tab mdui-color-theme" mdui-tab>
            <a id="tab-khlb" tab="khlb" class="mdui-ripple mdui-ripple-white tab-link">客户列表</a>
            <a id="tab-bdlb" tab="bdlb" class="mdui-ripple mdui-ripple-white tab-link">险种列表</a>
        </div>
    </header>
    <section id="khlb" class="main-content mdui-container tab empty" style="min-width: 99%;">
        <div class="mdui-table-fluid content-box">
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="display: none;">
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">客户号</label>
                                <input class="mdui-textfield-input kh-input" name="客户号" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">姓名</label>
                                <input class="mdui-textfield-input kh-input" name="姓名" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">性别</label>
                                <input class="mdui-textfield-input kh-input" name="性别" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">证件号码</label>
                                <input class="mdui-textfield-input kh-input" name="证件号码" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">电话(作为投保人)</label>
                                <input class="mdui-textfield-input kh-input" name="电话" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">地址(作为投保人)</label>
                                <input class="mdui-textfield-input kh-input" name="地址" />
                            </div>
                        </th>
                        <th style="min-width: 200px;">
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">备注</label>
                                <input class="mdui-textfield-input kh-input" name="备注" />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="khlb-tbody">
                </tbody>
            </table>
            <div id="khlb-page-btn" class="mdui-float-right btn-box"></div>
        </div>
    </section>
    <section id="bdlb" class="main-content mdui-container tab empty" style="min-width: 99%; display: none;">
        <div class="mdui-table-fluid content-box">
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">保单号</label>
                                <input class="mdui-textfield-input bd-input" name="保单号" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">投保人</label>
                                <input class="mdui-textfield-input bd-input" name="保单投保人" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">被保险人</label>
                                <input class="mdui-textfield-input bd-input" name="保单被保险人" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">销售人员</label>
                                <input class="mdui-textfield-input bd-input" name="销售人员" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">服务人员</label>
                                <input class="mdui-textfield-input bd-input" name="服务人员" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">转保标识</label>
                                <input class="mdui-textfield-input bd-input" name="转型保单标识" />
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">状态</label>
                                <input class="mdui-textfield-input bd-input" name="保单状态" />
                            </div>
                        </th>
                        <th class="th-btn-group">
                            <div class="mdui-btn-group operator-group" operator=">=">
                                <button type="button" class="mdui-btn th-btn mdui-btn-active operator-btn" name=">=" mdui-tooltip="{content: '筛选大于等于输入数值的项'}">
                                    <i class="mdui-icon material-icons">chevron_right</i>
                                </button>
                                <button type="button" class="mdui-btn th-btn operator-btn" name="<=" mdui-tooltip="{content: '筛选小于等于输入数值的项'}">
                                    <i class="mdui-icon material-icons">chevron_left</i>
                                </button>
                            </div>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">账户余额</label>
                                <input class="mdui-textfield-input bd-input num" name="账户余额" />
                            </div>
                            <div class="mdui-btn-group order-group">
                                <button type="button" class="mdui-btn th-btn order-btn" name="账户余额升序" mdui-tooltip="{content: '对账户余额升序排序'}">
                                    <i class="mdui-icon material-icons">arrow_drop_up</i>
                                </button>
                                <button type="button" class="mdui-btn th-btn order-btn order-btn-default" name="账户余额不排序" mdui-tooltip="{content: '对账户余额不排序'}">
                                    <i class="mdui-icon material-icons">remove</i>
                                </button>
                                <button type="button" class="mdui-btn th-btn order-btn" name="账户余额降序" mdui-tooltip="{content: '对账户余额降序排序'}">
                                    <i class="mdui-icon material-icons">arrow_drop_down</i>
                                </button>
                            </div>
                        </th>
                        <th style="max-width: 50px;">
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">责任组名称</label>
                                <input class="mdui-textfield-input bd-input" name="责任组名称" />
                            </div>
                        </th>
                        <th class="th-btn-group">
                            <div class="mdui-btn-group operator-group" operator=">=">
                                <button type="button" class="mdui-btn th-btn mdui-btn-active operator-btn" name=">=" mdui-tooltip="{content: '筛选大于等于输入数值的项'}">
                                    <i class="mdui-icon material-icons">chevron_right</i>
                                </button>
                                <button type="button" class="mdui-btn th-btn operator-btn" name="<=" mdui-tooltip="{content: '筛选小于等于输入数值的项'}">
                                    <i class="mdui-icon material-icons">chevron_left</i>
                                </button>
                            </div>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">标准保费</label>
                                <input class="mdui-textfield-input bd-input num" name="标准保费" />
                            </div>
                            <div class="mdui-btn-group order-group">
                                <button type="button" class="mdui-btn th-btn order-btn" name="标准保费升序" mdui-tooltip="{content: '对标准保费升序排序'}">
                                    <i class="mdui-icon material-icons">arrow_drop_up</i>
                                </button>
                                <button type="button" class="mdui-btn th-btn order-btn order-btn-default" name="标准保费不排序" mdui-tooltip="{content: '对标准保费不排序'}">
                                    <i class="mdui-icon material-icons">remove</i>
                                </button>
                                <button type="button" class="mdui-btn th-btn order-btn" name="标准保费降序" mdui-tooltip="{content: '对标准保费降序排序'}">
                                    <i class="mdui-icon material-icons">arrow_drop_down</i>
                                </button>
                            </div>
                        </th>
                        <th>
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">交费期间</label>
                                <input class="mdui-textfield-input bd-input" name="交费期间" />
                            </div>
                        </th>
                        <th style="min-width: 200px;">
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">备注</label>
                                <input class="mdui-textfield-input bd-input" name="备注" />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="bdlb-tbody">
                </tbody>
            </table>
            <div id="bdlb-page-btn" class="mdui-float-right btn-box"></div>
        </div>
    </section>
    <script src="/public/w.js"></script>
    <script src="/public/mdui.min.js"></script>
</body>

</html>